.contenedorIM {
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display:flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow:  0px 3px 13px 1px rgb(0 0 0 / 0.9);
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}

.imagentest {
    height: 100%;
    width: auto;
    
}

.ContenedorTexto {
    text-align: center;
    padding: 40px;
    font-family: Lato , sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}
.Nombre {
    font-size: 1.3rem;
    }
.Cargo {
    font-size: 1.2rem;
    margin-top: 15px;
    padding-bottom: 30px;
}

.TextoCompleto {
    font-size: 0.5rem;
    text-align: justify;
}
/* .espacio{
    padding: 11%;
} */